* {
  background-color: burlywood;
}
#clockcontainer {
  position: relative;
  /* background-color: aquamarine; */

  margin: auto;
  height: 50vw;
  width: 50vw;
  background: url(clock2.png) no-repeat;
  background-size: 100%;
}
#hour,
#minutes,
#seconds {
  background-color: brown;
  position: absolute;
  border-radius: 0px;
  transform-origin: bottom;
}
#minutes {
  width: 2%;
  height: 30%;
  top: 20%;
  left: 49.5%;
}
#hour {
  width: 2%;
  height: 20%;
  top: 30%;
  left: 49.5%;
}
#seconds {
  width: 0.5%;
  height: 36%;
  top: 14%;
  left: 49.9%;
  opacity: 10;
}
#circle {
  margin: auto;
  position: absolute;
  background: url(circle.png) no-repeat;
  height: 78%;
  width: 68%;
  background-size: 7%;
  left: 47.5%;
  top: 47.5%;
}
